{% extends "base.html" %}
{% load bootstrap5 %}
{% block content %}
<div class="col-md-6 offset-md-3">
    <div class="card text-center">
        <div class="card-body">
            <h2 class="card-title">Verifique seu e-mail</h2>
            <p>Nós lhe enviamos instruções para definir sua senha, se uma conta existir com o e-mail que você digitou. Você deve recebê-las em breve.</p>
            <p>Se você não receber um e-mail, por favor, certifique-se de que digitou o endereço com o qual se cadastrou e verifique sua pasta de spam.</p>
        </div>
    </div>
</div>
{% endblock %}