{% extends "base.html" %}
{% load bootstrap5 %}
{% block title %}Erro no Servidor{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 text-center">
        <div class="card shadow-sm">
            <div class="card-body">
                <h1 class="display-1 fw-bold">500</h1>
                <h2 class="card-title">Erro Inesperado</h2>
                <p class="card-text text-muted">
                    Ocorreu um problema no nosso servidor. Nossa equipe já foi notificada e está trabalhando para resolver. Por favor, tente novamente mais tarde.
                </p>
                <a href="{% url 'home' %}" class="btn btn-primary mt-3">Voltar para a Página Inicial</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}